body {
    font-family: Arial;
    background-color: #f2f2f2;
}

.container {
    width: 350px;
    margin: 80px auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px gray;
    border-radius: 5px;
    text-align: center;
}

input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.logout {
    background-color: #f44336;
}

.logout:hover {
    background-color: #d32f2f;
}

.error {
    color: red;
}

.success {
    color: green;
}
