body {
    font-family: Arial;
    background-color: #f2f2f2;
}

.login-container, .student-container {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px gray;
    border-radius: 5px;
}

input[type=text], input[type=password], input[type=number] {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px 0;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
